<!-- Refresh the view -->
<button type="button" class="btn btn-default" ng-click="refresh()" style="top: 20px; left: 50px; position:absolute;">Refresh Senburst</button>

<ng-senburst data="repartition" global="total" on-click="selectElement" ng-adaptive-size></ng-senburst>